.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  
    .top-left {
      display: flex;
      align-items: center;
      gap: 10px;
  
      .logo {
        width: 30px;
        height: 30px;
      }
  
      .search-bar {
        width: 150px;
        padding: 8px;
        border: 1px solid #dddfe2;
        border-radius: 25px;
      }
    }
  
    .top-center {
      display: flex;
      align-items: center;
      gap: 10px;
  
      button {
        background-color: #fff;
        color: #0866ff;
        border: none;
        padding: 20px 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
      }
  
      button:hover {
        color: #3582ff;
        background-color: #eaf1f9;
      }
  
      button.active {
        border-bottom: 2px solid #0866ff;
      }
  
      .home-button {
        font-size: 18px;
      }
    }
  
    .top-right {
      display: flex;
      align-items: center;
      gap: 2px;
  
      button {
        background-color: #C5CBDE;
        color: white;
        border: none;
        border-radius: 70px;
        padding: 6px 8px;
        cursor: pointer;
      }
  
      button:hover {
        background-color: #0866ff;
        color: #eaecef;
      }
  
      a {
        color: #0866ff;
      }
  
      .profile-picture {
        display: flex;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
        cursor: pointer;
      }
  
      .profile-picture:hover {
        border: 1px solid #0866ff;
      }
    }
  }