.footer-container {
  background-color: #FFFFFF;
  width: 100%;
  padding: 30px;
  color: #8A8D91;
  font-size: 12px;
  text-align: left;
  flex-grow: 0;

  .footer-content {
    margin: 0 auto;
    max-width: 1000px; 
    text-align: left;

    .languages {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #8A8D91;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
          margin: 0 8px;

          a {
            text-decoration: none;
            color: #8a8d91;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .link-list {
      margin-bottom: 20px;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
          margin: 0 8px;

          a {
            text-decoration: none;
            color: #8a8d91;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-copyright {
    p {
      color: #737373;
      margin: 0;

      a {
        text-decoration: none;
        color: #8a8d91;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .footer-content {
      max-width: 100%; 
      padding: 0;
    }

    .languages ul,
    .link-list ul {
      justify-content: center; 
    }
  }
}

.footer-login.footer-container {
  height: 27vh;

  a,
  p {
    color: #737373;
  }
}

.footer-register.footer-container {
  height: 20vh;

  ul li a {
    color: #385898;
  }
}