.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #F2F4F7;
}

.login-container {
  padding: 40px;
  margin-top: 117px;
}

.login-container-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-header {
  flex: 1;
  text-align: left;
  margin-top: 40px;

  h1 {
    font-size: 54px;
    color: #0866FF;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 23px;
    padding-right: 6rem;
    color: #1c1e21;
  }
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-box {
	background-color: white;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0px 8px 12px 5px rgba(0, 0, 0, 0.1);
	max-width: 370px;
	width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
  }

  .btn-login {
    font-family: Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    background-color: #0866FF;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    cursor: pointer;
  }

  .btn-login:hover {
    background-color: #1871ff;
  }

  .btn-create-account {
    font-family: Helvetica, sans-serif;
    width: 50%;
    padding: 14px 7px;
    background-color: #42b72a;
    color: white;
    font-size: 16px;
    align-self: center;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    margin: 18px 0px 5px 0px;
    cursor: pointer;
  }

  .btn-create-account:hover {
    background-color: #3ba726;
  }

  a {
    color: #0866FF;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #DADDE1;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.login-footer {
  margin-top: 30px;
  text-align: center;

  p {
    font-size: 14px;
    color: #1C1E21;

    a {
      color: #1C1E21;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}